body {
    background-color: lightblue;
}

h1 {
    color: blue;
}

.redCenter {
    color: red;
    font-weight: bold;
    text-align: center;
}

.purpleLeft {
    color: purple;
    font-weight: bold;
}

#uniqueColorFont {
    color: green;
}

.boxModel {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}